<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=zx6l3oinx1.database.windows.net;Initial Catalog=PubTricks;User ID=dave;Password=zp2737AA;Trusted_Connection=False;Encrypt=True;MultipleActiveResultSets=True"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  <system.web>
    <!--<compilation xdt:Transform="RemoveAttributes(debug)" />-->
  </system.web>
</configuration>