@{
    ViewBag.Title = "About";
}



<div id="feat-title" class="col-full">
    <h1 class="title">About</h1>
</div>

<!--white section underneath-->
<div id="content-wrap">
    <div id="content" class="col-full">
        <div class="col-left">
            <div id="main">
                <div class="post-11 woo_video type-woo_video status-publish hentry tag-featured tag-sean-obrien tag-woothemes post">
                    <div class="entry">
                       <h2>About</h2>
                        <p>
                       All about having fun and entertaining friends!  Started with PhilB and I making these videos in Christchurch in 2010.  Then in 2011 when I wanted a great example site to work and speak on, I decided this was perfect. 
                       All source code is available (see developer links).
                        </p>
                    </div>

                    <div class="entry">
                       <h2>Contact</h2>
                        <p>Drop me an email with comments, new pub tricks (want to record them and send to me?), or anything.  davemateer@gmail.com

                        </p>
                    </div>
                </div>
            </div>
            <!-- #main -->
        </div>
    </div>
    <!-- #content -->
</div>

