@{
    ViewBag.Title = "Developers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="feat-title" class="col-full">
    <h1 class="title">Developers</h1>
</div>

<!--white section underneath-->
<div id="content-wrap">
    <div id="content" class="col-full">
        <div class="col-left">
            <div id="main">
                <div class="post-11 woo_video type-woo_video status-publish hentry tag-featured tag-sean-obrien tag-woothemes post">
                    <div class="entry">
                       <h2>Good links</h2>
                        <p>
                        <li><a href="http://www.tekpub.com">www.tekpub.com</a> where a lot of these great ideas came from</li>
                        
                        <li><a href="http://www.appharbor.com">www.appharbor.com</a> - free .net hosting</li>

                        <li><a href="http://ndc2011.macsimum.no/mp4/Day2%20Thursday/Track1%201140-1240.mp4">Great video</a> from wekeroad.com on ORMS</li>

                        <li><a href="http://www.programgood.net/CategoryView,category,Massive.aspx">www.programgood.net/CategoryView,category,Massive.aspx</a>  My blog</li>

                        <li><a href="http://www.programgood.net/CategoryView,category,Dynamic.aspx">www.programgood.net/CategoryView,category,Dynamic.aspx</a>  My blog</li>
                        
                        <li><a href="http://www.woothemes.com">www.woothemes.com</a>  where I bought this template</li>

                        </p>
                    </div>

                    <div class="entry">
                       <h2>Licenses</h2>
                        <p>
                            Source code is available under GNU v2 license (ie you can copy it and use it wherever you like, but must keep source code open).  Its under this license so I can distribute the theme.
                        </p>
                    </div>

                </div>
            </div>
            <!-- #main -->
        </div>
    </div>
    <!-- #content -->
</div>