@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div id="feat-title" class="col-full">
    <h1 class="title">Thanks</h1>
</div>

<!--white section underneath-->
<div id="content-wrap">
    <div id="content" class="col-full">
        <div class="col-left">
            <div id="main">
                <div class="post-11 woo_video type-woo_video status-publish hentry tag-featured tag-sean-obrien tag-woothemes post">
                    <div class="entry">
                       <h2>Image Credits</h2>
                        <p>
                        www.flickr.com/photos/si/2406409/sizes/o/in/photostream/  - Simon Hammond
                        www.flickr.com/photos/mrlerone/75159252/ - Tony Bradbury
                        www.flickr.com/photos/fabulousterrah/3336330479/ - Fabulour Terrah
                        </p>
                    </div>
                </div>
            </div>
            <!-- #main -->
        </div>
    </div>
    <!-- #content -->
</div>