@{
    Layout = "~/Views/Shared/_AdminLayoutMaster.cshtml";
}
@Assets.CSS("jquery_ui/jquery.ui.all.css")
@Assets.CSS("forms.css")

<div class="container">
    <div class="column">
    @RenderBody()
    </div>
</div>
