@if(Request.IsAuthenticated) {
    <text>Welcome <strong>@User.Identity.Name</strong>
     @(User.IsInRole("Administrator") ? "(Administrator)" : String.Empty) 
    [ <a href="/Account/LogOff">Log Off</a>]</text>
}
else {
    @:[<a href="/Account/LogOn">Log Off</a>]
}
