body { background-color: #e6e6e6; }

a:link, a:visited, #main.video-archive .sorting li a:hover, #main.video-archive .sorting li.active a  { color: #000; }

#top { background:#555; }

#tagline span  { color: #fff; }

#navigation, #footer-widgets, #tabs-home, #feat-video, #slides  { background-color: #888; }
#tabs-home, #content {
	/* Box Shadow */
	-moz-box-shadow: 0 1px 3px #777; 
	-webkit-box-shadow: 0 1px 3px #777; 
	box-shadow: 0 1px 3px #777;
}

#slides .prev  { background-image: url(clean/btn-slider-prev.png); }
#slides .next  { background-image: url(clean/btn-slider-next.png); }

.nav a,
#footer-widgets .widget h3,
#footer { color: #fff; }

.nav li ul li { background: #555; }

#tabs-home ul.wooTabs li { background:none; }
#tabs-home ul.wooTabs li a { color: #fff; }

#feat-video .breadcrumbs  { color: #fff; }
#feat-video .breadcrumbs a  { color: #333; text-shadow: 1px 1px 0 #999; }
#feat-video .video-excerpt p  { text-shadow: 1px 1px 0 #666; }
#feat-video .video-excerpt p, #feat-video .meta span.small, #feat-video .meta li  { color: #fff!important; }
#feat-video .meta li a  { color: #fff!important; }
#feat-video .meta .post-tags a  { color: #999!important; }
#feat-video .meta .post-tags a:hover  { color: #fff!important; }

#footer-widgets .widget h3, #feat-video .video-excerpt  { background-image: url(clean/hr.png); }

#feat-video .meta span.small { color: #ccc; }
#feat-title .title  { color:#333; text-shadow: 1px 1px 0 #fff; }

#footer p  { color: #666; text-shadow: 1px 1px 0 #fff; }

/* 6.1 Buttons */
a.button,
#commentform #submit,
.submit {
	border: 1px solid #000;

	/*Background*/
	background: #000; /*Fallback*/
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(.2, #333),
					color-stop(1, #000)
				);
	background: -moz-linear-gradient(
					center top,
					#333 20%,
					#000 100%
				);
}

a.button:hover,
a.button.hover,
a.button.active,
#commentform #submit:hover,
.submit:hover {
	/*Background*/
	background: #333; /*Fallback*/
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(.2, #000),
					color-stop(1, #333)
				);
	background: -moz-linear-gradient(
					center top,
					#000 20%,
					#333 100%
				);
}